* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.white {
  background-color: white;
}

body {
  background-color: #777777;
}

iframe {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  border: 3px solid black;
  filter: blur(0.8px);
  transition: filter 0.2s linear, transform 0.2s linear;
}

iframe:hover {
  filter: none;
  transform: scale(1.05);
}

body div.container > div {
  padding: 0;
}

@media (min-width: 768px) {
  div.col-md-6 {
    max-width: 47%;
    padding: 0;
  }
}

@media (min-width: 992px) {
  div.col-lg-3 {
    max-width: 23%;
    padding: 0;
  }
}